h1 {
  font-size: 4rem;
  color: white;
}

.main-container {
  font-family: 'Roboto';
  width: 100%;
  height:max-content;
  display: flex;
  flex-direction: row; 
}

/* FORM BOX */

.form-box {
  display: flex;
  flex-direction: row;
}

.form-box label {
  font-size: 0.60rem;
  letter-spacing: 0.075rem;
}

.col1 {
  margin-right: 10%;
}

/* BUTTONS AND BORDERS */
.create-account {
  font-size: .80rem;
  font-weight: bolder;
  color: white;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 180px;
  height: 40px;
  background-color: #596d48;
  border-radius: 6px;
  border-style: none;
}

.login {
  text-decoration: none;
  color: #596d48;
  font-weight: 1000;
}

div > input {
  border: none;
  padding-left: 0.65rem;
}

.col1 > div,
.col2 > div {
  display: flex;
  flex-direction: column;
}

/* RIGHT SIDE */

.right-sign-up {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.right-sign-up > .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 15%;
  min-width: 60%;
  flex-grow: 7;
}

/* .slightly-dark-bg {
  border: 1px solid black;
} */

/* RIGHT SIDE MARGINS */

.intro-phrase,
.lets,
.form-box,
.existing-account {
  margin: 1rem 0rem;
}

.intro-phrase,
.lets {
  font-weight: bold;
}

.intro-phrase {
  margin-bottom: 1rem;
}

.intro-phrase.line2 {
  margin-bottom: 3rem;
}

.italicized {
  font-style: italic;
}

/* LEFT SIDE */

.left-pic {
  display: flex;
  justify-content: center;
}

.left-bg {
  height: 100%;
  object-fit: cover;
  min-width: 35%;
}

.left-pic {
  min-width: 35%;
  max-width: 35%;
}

.dark-background {
  width: 35%;
  height: 90px;
  max-height: 90px;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 0;
  bottom: 60%;
}

.logo-text {
  text-align: center;
  position: relative;
}

.footer {
  min-width: 35%;
  max-width: 35%;
  color: white;
  text-align: center;
  font-size: 0.65rem;
  position: absolute;
  bottom: 0;
  word-wrap: normal;
}

.footer > p > a {
  color: white;
}